@base_theme: #6033cc;
@base_font: #FFF;
.NavWrapper{
  position:fixed;
  width:100%;
  z-index:1;
  .Navbar{
    background: @base_theme;
    color: @base_font;
    height:50px;
    padding-top:7px;
    padding-left:10px;
    .btn {
      color:#FFF;
    }
  }
  .sideNav{
    width:300px;
    height: calc(100vh - 50px);
    position:absolute;
    z-index: 1;
    top:50px;
    background: #FFF;

    &.slideIn{
      animation-name: SlideIn;
      animation-duration: 1s;
      animation-fill-mode:both;

    }
    &.slideOut{
      animation-name: SlideOut;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-direction: reverse;
    }
  }
}

.btn-transparent{
  background:transparent;
}

@keyframes SlideIn {
  0%{
    transform: translateX(-300px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes SlideOut {
  0%{
    transform: translateX(-300px);
  }
  100%{
    transform: translateX(0px);
  }
}
