.ProjectDetail{
  label {
    color:#FFF;
    padding:5%;
    border-radius: 5%;
    float: right;
    &.new{
      background: #6033cc;
    }
    &.prog{
      background: #41cbf2;
    }
    &.dev{
      background: #b6ff26;
    }
    &.test{
      background: #ffba26;
    }
    &.fix{
      background: #ff2626;
    }
  }
}
