.ProjectDetail label {
  color: #FFF;
  padding: 5%;
  border-radius: 5%;
  float: right;
}
.ProjectDetail label.new {
  background: #6033cc;
}
.ProjectDetail label.prog {
  background: #41cbf2;
}
.ProjectDetail label.dev {
  background: #b6ff26;
}
.ProjectDetail label.test {
  background: #ffba26;
}
.ProjectDetail label.fix {
  background: #ff2626;
}
